<nav class="links">
  <a [routerLink]="['/Home']" [routerLinkActive]="['activado']">Home</a>
  <a [routerLink]="['/cursos']" [routerLinkActive]="['activado']">Cursos</a>
  <a [routerLink]="['/zapatillas']"  [routerLinkActive]="['activado']">zapatillas</a>
  <a [routerLink]="['/videojuego']"  [routerLinkActive]="['activado']">videojuego</a>
  <a [routerLink]="['/externo']"  [routerLinkActive]="['activado']">Externo</a>
  <a [routerLink]="['/Formulario']"  [routerLinkActive]="['activado']">Formulario</a>
</nav>
<p [ngStyle]="{'background':config.fondo,'color':config.color}">{{descripcion}}</p>
<button (click)="ocultar_videojuegos()">Accion</button>
<!--<videojuego *ngIf="mostrar_videojuegos"></videojuego>
<zapatillas></zapatillas>
<app-cursos></app-cursos> lo de abajo coloca el contenido deacuerdo la ruta del navegador-->
<router-outlet></router-outlet>
