<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>
<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Duis venenatis est magna, in blandit ante blandit at. Integer imperdiet mattis nisi ac condimentum. 
        Aenean pulvinar velit quis iaculis aliquet. Sed purus risus, congue a auctor congue, placerat ac ex. 
        Sed sagittis placerat mi in finibus. Sed tempus tempor purus non gravida. Proin elementum elementum diam,
        sed fermentum lectus fringilla quis. Mauris auctor dolor dolor, ac pellentesque dolor vestibulum quis. 
        Vestibulum pellentesque purus ut rhoncus semper. Donec interdum mi quis consectetur gravida. Mauris eget magna congue, 
        lobortis dolor vitae, tincidunt mauris. Mauris egestas purus nisi, molestie placerat erat facilisis ac. 
        Aenean iaculis mi non risus ornare, eu malesuada dui commodo. Morbi vel urna eu magna ultricies vulputate id ac eros. 
        Sed sollicitudin, tortor sit amet rutrum maximus, purus metus lobortis lacus, eu pretium orci sapien nec risus.
    </p>
</article>
