<header>
  <ul class="cajaLinks">
    <li *ngFor="let item of rutas; index as i">
      <ng-template #Logo>
        <div class="logo">
          <div>
            {{item}}
          </div>
        </div> 
      </ng-template>
      <a *ngIf="!verificarMitadLogo(i);else Logo" [routerLink]=enrutar(item) [routerLinkActive]="['actived']"  class="links">{{item}}</a>
    </li>
  </ul>
</header>
<section id="content">
  <router-outlet></router-outlet> 
</section>
 <footer>
  Master en Java Script Adrian Perdomo &copy;
 </footer>
