<div class="container" #contenedor >
    <div (click)="animando=!animando" [class.animar]="animando" class="bttn">
    </div>
    <h1>Contacto</h1>
    <div id="texto" #textos appResaltado>
        <p>
            Esta es la pagina de contacto, puedes enviarnos cualquier duda
        </p>
    </div>    
    <label for="width" style="display: block;" *ngIf="!anchuraToSlider"> Tamaño del slider</label>
    <input *ngIf="!anchuraToSlider"
        type="number" 
        name="width" 
        id="width" 
        #width [(ngModel)]="widthSlider" 
        (keyup.enter)="cargarSlider()">
    <div 
        *ngIf="anchuraToSlider">
        <app-slider (getAutor)="autor($event)" [anchura]="widthSlider"></app-slider>
    </div>
    <div *ngIf="creador" class="creador">
        <h2>{{creador.nombre}}</h2>
        <a>{{creador.correo}}</a>
    </div>        
</div>
